body {
  padding-bottom: 200px;
}
.nav > li{
  -webkit-transition-property: background-color; /* Safari */
  -webkit-transition-duration: 0.7s; /* Safari */
  transition-property: background-color;
  transition-duration: 0.7s;
}
.nav > li:hover{
  background-color: #e0ff49;
}
.video-annotations {
  display:none;
}
